body,
html {
  margin: 0;
  padding: 0;
}
html {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body {
  height: inherit;
  width: inherit;
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-action: none;
  touch-action: none;
}